<script lang="ts" setup>
import { ref } from "vue";
const Emoo = ref([
  { id: 1, name: "Angry", pic: "feeling_imgs/angry.png", iscolor: false },
  { id: 2, name: "Cute", pic: "feeling_imgs/cute.png", iscolor: false },
  {
    id: 3,
    name: "Exctited",
    pic: "feeling_imgs/excited.png",
    iscolor: false,
  },
  { id: 4, name: "Pain", pic: "feeling_imgs/pain.png", iscolor: false },
  {
    id: 5,
    name: "Shocked",
    pic: "feeling_imgs/shocked.png",
    iscolor: false,
  },
  { id: 6, name: "Smile", pic: "feeling_imgs/smile.png", iscolor: true },
]);
const Changepic = (item: { name: string; pic: string }) => {
  Emoname.value = item.name;
  Emopic.value = item.pic;
};
const Changecolor = (item: { id: number; iscolor: boolean }) => {
  refresh();
  if (item.iscolor === true) {
    item.iscolor = true;
  } else {
    item.iscolor = !item.iscolor;
  }
};

const refresh = () => {
  Emoo.value.forEach((item) => (item.iscolor = false));
};
const Emoname = ref("Smile");
const Emopic = ref("feeling_imgs/smile.png");
</script>
<template>
  <v-row>
    <v-col cols="6">
      <v-img style="height: 85vh; width: 100vh" :src="Emopic"> </v-img>
    </v-col>
    <v-col clos="6" style="font-size: 57px; text-align: center" class="mr-16">
      {{ Emoname }}
      <v-col class="pa-6" v-for="(item, index) of Emoo" :key="index">
        <v-row
          ><v-btn
            :class="{ yellowbtn: item.iscolor, whitebtn: !item.iscolor }"
            @click="Changepic(item), Changecolor(item)"
            style="width: 40vw; height: 7vh"
            >{{ item.name }}</v-btn
          ></v-row
        >
      </v-col>
    </v-col>
  </v-row>
</template>

<style scoped>
.yellowbtn {
  background-color: yellow;
}
.whitebtn {
  background-color: white;
}
</style>
