<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-row>
    <h4>First Component</h4>
  </v-row>
  <v-row>
    <h4>{{ counterStore.count }}</h4>
  </v-row>
  <v-row class="mt-7">
    <v-btn @click="counterStore.increment">INCREMENT</v-btn>
  </v-row>
</template>
