<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <v-row>
    <h4>Second Component</h4>
  </v-row>
  <v-row>
    <h4>{{ counterStore.doubleCount }}</h4>
  </v-row>
  <v-row class="mt-7">
    <v-btn @click="counterStore.decreasement">DECREASE</v-btn>
  </v-row>
</template>
